# Node dependencies
node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json

# Vite build output
dist/
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
debug.log*
.vscode/

# Local environment files
.env
.env.local
.env.*.local

# IDE/editor files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS-specific files
.DS_Store
Thumbs.db
